@font-face {
    font-family:Poppins ;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family:Clash Display Bold;
    src: url(../fonts/ClashDisplayBold.otf);
}
.poppins-reg{
font-family: Poppins;
}

.Clash-Display-bold{
    font-family:Clash Display Bold;
}
.pink-mix{
    background-image: linear-gradient(90deg, #A734BD 0%, #FF006A 100%);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent; /* Hide the original text color */
    
}